
.landing-nav{
  background-color: #e6e6e6;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.logo{
  height: 4rem;
  width: 4rem;
  padding: 10px;
}

.nav-elements{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 2rem;
  gap: 1rem;
}

.about-btn{
  background-color: transparent;
  border: 2px solid #cf0000;
  color: #cf0000
}

.title{
  background-color:#e6e6e6;
  height: 17rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title-word{
  color: #b10000;
  font-size: 6rem;
  margin: 0;
}

.subtitle{
  color: black;
  font-size: 2rem;
  margin: 0;
}

.pokemon-center-cards{
  margin: 4rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pokemons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin: 20px 0;
}

.border-pokemon-card {
  display: flex;
  height: 17rem;
  width: 17rem;
  background-color: #b10000;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pokemon-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  height: 15rem;
  width: 15rem;
  margin: 0;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 2px 4px #0000001a;
  background-color: #e6e6e6;
  border: 2px solid #b10000cb;
}

.pokemon-img {
  width: 7rem;
  height: auto;
  border-radius: 5px;
}

.type-box{
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.pokemon-data {
  margin-top: 10px;
  background-color: #b9b9b9;
  width: 108%;
  height: 100%;
}

.pokemon-name {
  font-size: 1.2rem;
  color: #000;
  text-transform: capitalize;
  margin: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pokemon-name a{
color: inherit;
}

.pokemon-name a:visited{
  color: inherit;
}

.pokemon-name a:hover{
  color: #b10000;
}

.pokemon-type-one, .pokemon-type-two {
  font-size: 0.7rem;
  margin: 5px 0;
  padding: 0.2rem;
  border-radius: 0.5rem;
  text-align: center;
  text-transform: uppercase;
}

.ability {
  font-size: 0.8rem;
  color: #000;
  text-transform: capitalize;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px 0;
}

.pokemon-type-one a{ color: inherit;}
.pokemon-type-one a:visited{ color: inherit;}
.pokemon-type-one a:hover{ color: #3a3a3a;}
.pokemon-type-two a{ color: inherit;}
.pokemon-type-two a:visited{ color: inherit;}
.pokemon-type-two a:hover{ color: #3a3a3a;}
.ability a{ color: inherit;}
.ability a:visited{ color: inherit;}
.ability a:hover{ color: #b10000;}
.about-a{ color: inherit;}
.about-a:visited{ color: inherit;}
.about-a:hover{ color: #b10000;}

.footer{
  background-color: #e6e6e6;
  color: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.data{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.data-values{
  font-size: 1.2rem;
  font-weight: 500;
}

.data-value{
  color: #b10000
}

.social{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  padding: 1rem;
}

.social-icon{
  height: 2rem;
  width: 2rem;
}